# dependencies
node_modules

# build outputs
dist
out
coverage
.turbo

# logs
logs
*.log
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# env
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# caches
.eslintcache
.cache
*.tsbuildinfo

# editors
.idea
.vscode
.DS_Store
*.swp
*.swo
*~

# runtime
*.db
apps/api/data/*.db
